/.vs/AuthApplication/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/AuthApplication/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/AuthApplication/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/AuthApplication/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/AuthApplication/CopilotIndices/17.14.1691.21253/CodeChunks.db
/.vs/AuthApplication/CopilotIndices/17.14.1691.21253/SemanticSymbols.db
/.vs/AuthApplication/DesignTimeBuild/.dtbcache.v2
/.vs/AuthApplication/FileContentIndex/62f2d66c-df8d-4a06-8c78-4f0586855190.vsidx
/.vs/AuthApplication/FileContentIndex/68f69b74-e99c-44e7-9981-f102580d3471.vsidx
/.vs/AuthApplication/FileContentIndex/71e9ec45-9ab2-4ddf-b242-e235e89c22f9.vsidx
/.vs/AuthApplication/FileContentIndex/861446a7-4e18-463f-8e3d-8f286c948de9.vsidx
/.vs/AuthApplication/FileContentIndex/f32b0f2e-f13f-4d6a-b014-00cbc8dd23bd.vsidx
/.vs/AuthApplication/config/applicationhost.config
/.vs/AuthApplication/v17/.futdcache.v2
/.vs/AuthApplication/v17/.suo
/.vs/AuthApplication/v17/DocumentLayout.backup.json
/.vs/AuthApplication/v17/DocumentLayout.json
/.vs/AuthApplication/v17/HierarchyCache.v1.txt
/.vs/ProjectEvaluation/authapplication.metadata.v9.bin
/.vs/ProjectEvaluation/authapplication.projects.v9.bin
/.vs/ProjectEvaluation/authapplication.strings.v9.bin
/Application/obj/Application.csproj.nuget.dgspec.json
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/Application.csproj.nuget.g.targets
/Application/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
/Application/obj/Debug/net9.0/Application.AssemblyInfoInputs.cache
/Application/obj/Debug/net9.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net9.0/Application.GlobalUsings.g.cs
/Application/obj/Debug/net9.0/Application.assets.cache
/Application/obj/Debug/net9.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net9.0/Application.csproj.BuildWithSkipAnalyzers
/Application/obj/Debug/net9.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net9.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net9.0/Application.sourcelink.json
/Application/obj/project.assets.json
/Application/obj/project.nuget.cache
/AuthApplication/obj/AuthApplication.csproj.nuget.dgspec.json
/AuthApplication/obj/AuthApplication.csproj.nuget.g.props
/AuthApplication/obj/AuthApplication.csproj.nuget.g.targets
/AuthApplication/obj/Debug/net9.0/ApiEndpoints.json
/AuthApplication/obj/Debug/net9.0/AuthApplication.AssemblyInfo.cs
/AuthApplication/obj/Debug/net9.0/AuthApplication.AssemblyInfoInputs.cache
/AuthApplication/obj/Debug/net9.0/AuthApplication.GeneratedMSBuildEditorConfig.editorconfig
/AuthApplication/obj/Debug/net9.0/AuthApplication.MvcApplicationPartsAssemblyInfo.cache
/AuthApplication/obj/Debug/net9.0/AuthApplication.assets.cache
/AuthApplication/obj/Debug/net9.0/AuthApplication.csproj.AssemblyReference.cache
/AuthApplication/obj/Debug/net9.0/AuthApplication.csproj.BuildWithSkipAnalyzers
/AuthApplication/obj/Debug/net9.0/AuthApplication.csproj.CoreCompileInputs.cache
/AuthApplication/obj/Debug/net9.0/AuthApplication.csproj.FileListAbsolute.txt
/AuthApplication/obj/Debug/net9.0/AuthApplication.sourcelink.json
/AuthApplication/obj/Debug/net9.0/EndpointInfo/AuthApplication.OpenApiFiles.cache
/AuthApplication/obj/Debug/net9.0/EndpointInfo/AuthApplication.json
/AuthApplication/obj/Debug/net9.0/apphost.exe
/AuthApplication/obj/Debug/net9.0/rpswa.dswa.cache.json
/AuthApplication/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/AuthApplication/obj/Debug/net9.0/staticwebassets.removed.txt
/AuthApplication/obj/project.assets.json
/AuthApplication/obj/project.nuget.cache
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.AssemblyInfo.cs
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.AssemblyInfoInputs.cache
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.GeneratedMSBuildEditorConfig.editorconfig
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.assets.cache
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.csproj.AssemblyReference.cache
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.csproj.BuildWithSkipAnalyzers
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.csproj.CoreCompileInputs.cache
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.csproj.FileListAbsolute.txt
/DependencyInjection/obj/Debug/net9.0/DependencyInjection.sourcelink.json
/DependencyInjection/obj/DependencyInjection.csproj.nuget.dgspec.json
/DependencyInjection/obj/DependencyInjection.csproj.nuget.g.props
/DependencyInjection/obj/DependencyInjection.csproj.nuget.g.targets
/DependencyInjection/obj/project.assets.json
/DependencyInjection/obj/project.nuget.cache
/Domain/bin/Debug/net9.0/Domain.deps.json
/Domain/bin/Debug/net9.0/Domain.dll
/Domain/bin/Debug/net9.0/Domain.pdb
/Domain/obj/Debug/net9.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net9.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net9.0/Domain.assets.cache
/Domain/obj/Debug/net9.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net9.0/Domain.csproj.BuildWithSkipAnalyzers
/Domain/obj/Debug/net9.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net9.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net9.0/Domain.dll
/Domain/obj/Debug/net9.0/Domain.pdb
/Domain/obj/Debug/net9.0/Domain.sourcelink.json
/Domain/obj/Debug/net9.0/ref/Domain.dll
/Domain/obj/Debug/net9.0/refint/Domain.dll
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.g.targets
/Domain/obj/project.assets.json
/Domain/obj/project.nuget.cache
/Infrastructure/bin/Debug/net9.0/Repositories.deps.json
/Infrastructure/bin/Debug/net9.0/Repositories.dll
/Infrastructure/bin/Debug/net9.0/Repositories.pdb
/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net9.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net9.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net9.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.BuildWithSkipAnalyzers
/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net9.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net9.0/Infrastructure.sourcelink.json
/Infrastructure/obj/Debug/net9.0/Repositories.AssemblyInfo.cs
/Infrastructure/obj/Debug/net9.0/Repositories.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net9.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net9.0/Repositories.GlobalUsings.g.cs
/Infrastructure/obj/Debug/net9.0/Repositories.assets.cache
/Infrastructure/obj/Debug/net9.0/Repositories.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net9.0/Repositories.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net9.0/Repositories.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net9.0/Repositories.sourcelink.json
/Infrastructure/obj/Debug/net9.0/ref/Repositories.dll
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/Infrastructure/obj/Repositories.csproj.nuget.dgspec.json
/Infrastructure/obj/Repositories.csproj.nuget.g.props
/Infrastructure/obj/Repositories.csproj.nuget.g.targets
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
